{% extends "base.html" %}
{% load static %}
{% block app_css %}
  
{% endblock app_css%}

{% block heading %}
    <h1 class="h3 mb-0 text-gray-800">{{body_judul}}</h1>
{% endblock heading %}

{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3 ">
    <a href="{% url 'pttp:database' "clasifier" %}" class="btn btn-success btn-icon-split">
        <span class="text">Random Forest Clasifier</span>
      </a>
    <a href="{% url 'pttp:database' "regressor" %}" class="btn btn-success btn-icon-split">
    <span class="text">Random Forest Regressor</span>
    </a>
    <!-- <a href="{% url 'pttp:export_iris' "iris" %}" class="btn btn-success btn-icon-split">
        <span class="text">Training dataset IRIS</span>
    </a> -->
    {% if tipe == "iris" or tipe == "database" %}
    <hr>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group col-2">
                <label class="text-gray-700" for="exampleInputEmail">Jumlah Tree</label>
                <input type="integer" class="form-control form-control-user" name ="tree" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="tree">
                
            </div>
            <button class="btn btn-primary btn-user btn-block col-2"> OK </button>              
        </form>
    </div>
    {% elif tipe == "done" %}
    <br>
    <br>
    {{ message }}
    {% endif %}
    </div>
    {% if tipe == "database"%}  
    
    {% endif %}
</div>
    
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Hasil Training : </h6>
    </div>
    <div class="card-body">
        <h6 class="m-0 font-weight-bold text-primary"> {{tipe}} </h6>
        <hr class="sidebar-divider d-none d-md-block">
        <p>{{txt_akurasi}} {{akurasi}}</p>
        <p>{{txt_ab_error}} {{ab_error}}</p>
        <p> {{txt_presisi}} </p>
        <p> {{txt_recall}} </p>
    </div>
</div>
{% endblock body %}